<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.cmm.mpr.TeacherMapper">
   <insert id="insert" parameterType="com.example.demo.sym.service.model.TeacherDto">
    insert into teachers (name, password, subject) 
    values (#{name}, #{password}, #{subject})
   </insert>
</mapper>